
.vs/CoronaData/xs/project-cache/CoronaData-Debug.json
.vs/CoronaData/xs/UserPrefs.xml
CoronaData/obj/CoronaData.csproj.nuget.dgspec.json
CoronaData/obj/CoronaData.csproj.nuget.g.props
CoronaData/obj/Debug/netcoreapp3.1/CoronaData.csproj.AssemblyReference.cache
CoronaData/obj/project.assets.json
CoronaData/obj/project.nuget.cache
.vs/CoronaData/xs/UserPrefs.xml
