body {
    background-image: url('~/../../images/korona.jpg');
    background-repeat: no-repeat;
    background-position: top right;
    background-attachment: fixed;
}

footer {
    background-color: rgba(255,255,255,0.9);
}

#wrapper #content-wrapper {
    background-color: rgba(248, 249, 252, 0.9) !important;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/* PAGINATION styles */
.paging-nav {
    text-align: left;
    padding-top: 2px;
}

.paging-nav a {
    margin: auto 1px;
    text-decoration: none;
    display: inline-block;
    padding: 1px 7px;
    background: #a7a7a7;
    color: white;
}

.paging-nav a:hover {
    text-decoration: none;
    background: #187ed5;
    color: white;
}

.paging-nav .selected-page {
    background: #187ed5;
    font-weight: bold;
}

.paging-nav,
#tableData {
    width: 400px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.footer-box {
    background-image: url('~/../../images/erb.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.row-margin {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.table-responsive {
    display: table;
}

.district-button {
    margin: 10px 0 10px 0;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}